---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>

        <br>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>

        {% if post.strapline %}
          <h4 class="strapline">{{ post.strapline | escape }}</h4>
        {% endif %}

        <p>{{ post.excerpt }}</p>

        <p><font size="-1"><a href="{{ post.url | relative_url }}#excerpt">Read more</a>...</font></p>

      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
